<div class="tab-pane">
  <div class="panel panel-default">
    <!--<div class="panel-heading">Current Homework</div>-->
    <div class="panel-body" id="accordion">
      
      <br>
      <div class="row text-center">
        <loader [condition]="loader"></loader>
      </div>
    <div style="margin-top: 2%;padding-top: 1%;">
      <div class="container card" *ngFor="let a of homeworks; let i = index;">
      <div class="row">
        <span class="glyphicon glyphicon-resize-full expand" (click)="seletToExpand(a,i)" data-toggle="modal" data-target="#myModal-card" style="margin-bottom:10px;"></span>
      </div>
      <!--<div class="row">
        <div class="col-sm-6" *ngIf="!complaintStatus">
          <span [style.background]="c.statusColor" class="badge">{{c.statusName}}</span>
        </div>
        <div class="col-sm-6">{{c.priorityName}}</div>
      </div>-->
          <div class="row">
            <div class="download-image" *ngIf="a.files">
              <span>
               <img class="image" *ngIf="a.files[0].fileOriginalName.substr(a.files[0].fileOriginalName.length - 4) != '.pdf'" [attr.src]="fileUrl + a.files[0].fileTimestamp">
               <img class="image" *ngIf="a.files[0].fileOriginalName.substr(a.files[0].fileOriginalName.length - 4) == '.pdf'" src="assets/pdf.png">
              </span>
              <div class="edit-image"><a [attr.href]="fileUrl + a.files[0].fileTimestamp"><i class="fa fa-download fa-lg"></i></a></div>
            </div>
            <div>
              <span>
              <img class="image" *ngIf="!a.files" src="assets/preview.png" alt="No Preview Avalable">
                <!--<div class="edit-image" style="display:none"><a [attr.href]="fileUrl + a.fileTimestamp"><i class="fa fa-download fa-lg"></i></a></div>-->
              </span>
            </div>
          </div>
      <!--<div class="row name">{{circular.employeeName}}</div>-->
      <div class="row class"><label class="heading">For</label>
        <span  class="class">{{ a.standardName }}</span>
      </div><hr class="style-line">
      <div class="row title" style="text-align:center"><label>Subject:&nbsp;</label><span>{{a.subjectName}}</span></div>
        <div class="row">
          <label class="Due Date :"></label>
          <span class="badge" style="background-color:gray">Due Date: {{a.dueDate |date}}</span>
        </div>
      <!--<div class="row">
        <div class="col-sm-6 edit" *ngIf="!(complaintStatus == 4 || complaintStatus == 5)">
          <a [ngClass]="{'disabled-click' : c.statusId == 4}" (click)="selectComplaint(c,in)" data-toggle="modal" data-target="#myModal"
              class="action"><i class="glyphicon glyphicon-pencil"></i>
          </a>
        </div>
        <div class="col-sm-6 comment">
          <a onclick="$('.panel.panel-chat').show();" (click)="getComplaintCommentById(c)" class="action"><i class="glyphicon glyphicon-comment"></i>
          </a>
        </div>
      </div>-->
    </div>
  </div>
  <div class="row " style="text-align: center" *ngIf="(EmptyHomeworks)&&(!loader)&&(currentPage==1)" ><b>No Homeworks are added to the view.</b></div>
  <div class="row "style="text-align: center" *ngIf="(EmptyHomeworks)&&(!loader)&&(currentPage!=1)" ><b>No more Homeworks are added to the view.</b></div>

    </div>
    
    <div class="panel-footer">
      <!--<nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'disabled': currentPage === 1}"><a class="page-link" (click)="previousHomework()" >Previous</a></li>
          <li class="page-item"><a class="page-link active" >1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item" [ngClass]="{'disabled': EmptyHomeworks}"><a class="page-link" (click)="nextHomework()" >Next</a></li>
        </ul>
      </nav>-->
      <!--<button type="button" (click)="previousHomework()" [disabled]="currentPage === 1" class="btn btn-primary">Previous</button>
      <button type="button" (click)="nextHomework()" [disabled]="EmptyHomeworks || noMore" class="btn btn-primary">Next</button>-->
      <div class="text-center"><button type="button" (click)="nextHomework()" *ngIf="!EmptyHomeworks && !noMore" class="btn btn-primary">Load More</button></div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal-card" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedHomework">
      <div class="modal-header">
        <h4 class="modal-title" id="gridSystemModalLabel">{{selectedHomework.subjectName}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body card-modal">
        <div class="modal-heading">
          <div class="row">
            <!-- <span *ngIf="selectedHomework.fileTimestamp">
              <img class="image" [attr.src]="fileUrl + selectedHomework.fileTimestamp">
            </span>
            <span>
              <img *ngIf="!selectedHomework.fileTimestamp" src="app\img\noPreview.png" class="alternate-img">
            </span> -->
           <div style="top:20px" class="download-image-modal1">

          <span *ngIf="selectedHomework.files && selectedHomework.files[imgindex-1]">
            
            <img  *ngIf="selectedHomework.files[imgindex-1].fileOriginalName.substr(selectedHomework.files[imgindex-1].fileOriginalName.length - 4) != '.pdf'" style="float:left;margin-right: 12px" (click)="swipe(-1)" class="sideimage" [attr.src]="fileUrl + selectedHomework.files[imgindex-1].fileTimestamp">

            <img  *ngIf="selectedHomework.files[imgindex-1].fileOriginalName.substr(selectedHomework.files[imgindex-1].fileOriginalName.length - 4) == '.pdf'" style="float:left;margin-right: 12px" (click)="swipe(-1)" class="sideimage" src="assets/pdf1.jpg">
          
          </span>
            
            <span *ngIf="imgindex==0"  style="float:left;top:83px;width:149px;height:16px;margin-right:12px"></span>
            
            <div class="download-image-modal" style="float:left" *ngIf="selectedHomework.files">
            
              <span *ngIf="selectedHomework.files && selectedHomework.files[imgindex]">

               <img *ngIf="selectedHomework.files[imgindex].fileOriginalName.substr(selectedHomework.files[imgindex].fileOriginalName.length - 4) != '.pdf'" class="image1" [attr.src]="fileUrl + selectedHomework.files[imgindex].fileTimestamp">

               <img *ngIf="selectedHomework.files[imgindex].fileOriginalName.substr(selectedHomework.files[imgindex].fileOriginalName.length - 4) == '.pdf'" class="image1" src="assets/pdf1.jpg">
              
              </span>
              <div *ngIf="selectedHomework.files && selectedHomework.files[imgindex]" class="edit-image-modal"><a [attr.href]="fileUrl + selectedHomework.files[imgindex].fileTimestamp"><i class="fa fa-download fa-lg"></i></a></div>
              
            </div>
            <span *ngIf=" selectedHomework.files && imgindex == selectedHomework.files.length-1 "  style="float:left;top:83px;width:149px;height:16px;margin-right:12px" ></span>
            

            <span *ngIf="selectedHomework.files && selectedHomework.files[imgindex+1]">
          
            <img *ngIf="selectedHomework.files[imgindex+1].fileOriginalName.substr(selectedHomework.files[imgindex+1].fileOriginalName.length - 4) != '.pdf'" style="float:left;margin-left:12px;" (click)="swipe(1)" class="sideimage" [attr.src]="fileUrl + selectedHomework.files[imgindex+1].fileTimestamp">

            <img *ngIf="selectedHomework.files[imgindex+1].fileOriginalName.substr(selectedHomework.files[imgindex+1].fileOriginalName.length - 4) == '.pdf'" style="float:left;margin-left:12px;" (click)="swipe(1)" class="sideimage" src="assets/pdf1.jpg">

            </span>


            </div>

            
            
            
            <div *ngIf="!selectedHomework.files">
              <img class="image1" src="assets/preview.png" alt="No Preview Avalable">
            </div>

            <br *ngIf="selectedHomework.files">
            <br *ngIf="selectedHomework.files">
            <div style="margin:auto;">
            <div style="display: inline;" *ngFor=" let x of selectedHomework.files ; let i=index ">
              <span *ngIf="i!=imgindex" (click)="swipebydots(i)" class="glyphicon glyphicon-one-fine-empty-dot"></span>
              <span *ngIf="i==imgindex" (click)="swipebydots(i)" class="glyphicon glyphicon-one-fine-full-dot"></span>
            </div>
            </div>
            <br>
          </div>
        </div>
        <div class=" row modal-class" style="font-size:15px;"><label>For : </label><span>{{selectedHomework.standardName}}</span></div>
      </div>
      <div class="row modal-description"><span class="white-space">{{selectedHomework.description}}</span></div>
      <hr class="style-line">
      <div class="row modal-date">
        <div class="col-sm-2 col-xs-2"><i class="glyphicon glyphicon-calendar pull-right calendar-custom"></i></div>
        <div class="col-sm-5 col-xs-5"><label class="heading">Created At</label>
          <div class="result">{{selectedHomework.createdAt | date}}</div>
        </div>
        <div class="col-sm-5 col-xs-5"><label class="heading">Due date</label>
          <div class="result">{{selectedHomework.dueDate | date}}</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>