<!-- <h1>Student Rating </h1> -->

<!-- <br> -->
<!-- <br> -->



<div class="panel panel-default" *ngIf="emptyStudents">
  <div class="panel panel-heading">
    No students
  </div>
  <div class="panel panel-body">
    You cannot rate the student
  </div>

</div>


<div class="panel panel-default" *ngIf="!emptyStudents">
  
  <div class="panel-heading">
    Search Students
  </div>
  <div class="panel-body">  
      <div class="form-group">
      
        <input class="form-control" *ngIf="selectedStudent==null" type="text" placeholder="Search by Student Name ... " (keyup)="dropdown=false;searchStudents($event)" >
        <input *ngIf="selectedStudent" class="form-control" type="text" value="{{selectedStudent.name}}" onfocus="this.value= ''"
          (keyup)="dropdown=false;searchStudents($event)" >
          <loader [condition]="loader" class="dropdownLoader"></loader>
          <button class="list-btn" (click)="dropdown ? dropdown = false : dropdown = true "> <span class="glyphicon glyphicon-chevron-down" ></span></button>

        <div class="studentList" *ngIf="(selected)">
          <ul class="list-group">
            <li class="list-group-item"  *ngIf="emptySearchResult">No Data to Display</li>
            <span *ngFor="let s of students">
               <li class="list-group-item" (click)="selectStudent(s)"> {{s.name}} </li> 
               </span>
          </ul>
        </div>

        <div class="studentList" *ngIf="(dropdown)">
          <ul class="list-group">
            <span *ngFor="let s of studentsCOPY">
               <li class="list-group-item" (click)="dropdown=false;selectStudent(s)"> {{s.name}} </li> 
               </span>
          </ul>
        </div>
        </div>
    <!-- <br><br> -->
  <div class="panel panel-default" *ngIf="selectedStudent">
    <div class="panel-heading custom-panel-heading">{{selectedStudent.name}}</div>
    <div>
      <div class="row text-center">
        <loader [condition]="loader1" class="centerLoader"></loader>
      </div>
        <form [formGroup]="ratingForm" *ngIf="respStu" >
    <div class="panel-body">
      
      <input type="text" formControlName="studentId" style="display:none;">
      <div formArrayName="responsibilitiesWithRating">
        <table class="table table-striped">
          <thead>
            <th class="col-sm-9 col-xs-6">Responsibilty</th>
            <th class="col-sm-3 col-xs-6">Rating</th>
          </thead>
          <tbody>
            <tr *ngFor="let r of respStu.profile; let i=index;" [formGroupName]="i">
              <td class="col-sm-9 col-xs-6" style="padding: 8px 8px 0px 8px;">
                <input *ngIf="respStu.isEmpty" type="text" formControlName="profileId" style="display:none;">
                <input *ngIf="!respStu.isEmpty" type="text" formControlName="profileId" style="display:none;" [value]="r.id" [ngModel]="r.id">


                <input type="text" formControlName="responsibilityId" style="display:none;" [(value)]="r.responsibilityId" [ngModel]="r.responsibilityId">{{r.responsibility}}
              </td>

              <td class="col-sm-3 col-xs-6" style="padding: 8px 8px 0px 8px;">
                <span  *ngFor="let p of respStu.rating;let ii=index">
                  <!--<div class="star-rating" >-->
                  <!--<div class="star-rating__wrap">-->
                    <fieldset class="rating" id="star{{i+'af'+ii+1}}">

                    <input *ngIf="respStu.isEmpty" id="star{{i+'a'+ii+1}}" (click)="updaterating($event,ii,i)" type="checkbox" formControlName="ratingId" [value]="p.id" [title]="p.name" >
                    <label class="star-rating__ico fa fa-star-o fa-lg" id="star{{i+'af'+ii+1}}" for="star{{i+'a'+ii+1}}" *ngIf="respStu.isEmpty" ></label>
                    </fieldset> 
                     <fieldset class="rating" id="star{{i+'af'+ii+1}}">
   
                    <input *ngIf="!respStu.isEmpty" id="star{{i+'a'+ii+1}}" [ngModel]="r.ratingId" type="checkbox" formControlName="ratingId" [value]="p.id" [title]="p.name">
                    <label class="star-rating__ico fa fa-star-o fa-lg" id="star{{i+'af'+ii+1}}" for="star{{i+'a'+ii+1}}" *ngIf="!respStu.isEmpty"></label>
                    </fieldset> 

                    <!--</div>-->
                  <!--</div>-->
                  </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>



    </div>

    <div class="panel-footer custom">
      <span class="pull-right">
      <button type="submit" class="btn btn-success" (click) ="submitRating()" [disabled]="(!ratingForm.controls.responsibilitiesWithRating.dirty) || (ratingForm.invalid)">Submit</button>
       <button type="button" class="btn btn-success" [disabled]="!ratingForm.controls.responsibilitiesWithRating.dirty" (click)="resetForm()">Reset</button>
       <!--{{ratingForm.dirty}} (click) = "ratingForm.markAsDirty()"-->
      </span>
    </div>
  </form>
    </div>
  </div>
  </div>
</div>

<br>

<!---->

<div id="submitModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rating Submitted!</h4>
      </div>
      <div class="modal-body">
        <p>Entry submitted successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>