<div class="existing">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="fixed">
        <div>
            <div class="col-sm-12">
              <button class="btn btn-primary view-btn pull-right" [disabled]="!selectedStandardId" (click)="getStudentsByStd()">View All Students</button>  
            </div> 
          <div class="row">
          <label for="standardId">Standard</label>
              <select [(ngModel)]="standardId" (change)="onSelectStandard($event.target.value)" class="form-control">
                
                <option disabled="disabled" selected="selected" value="" >Select a standard</option>
                
                <option *ngFor="let s of standards" [value]="s.id" >{{s.name}}</option>
              </select>
              <loader [condition]="standardLoader" class="dropdownLoader"></loader>
            </div>         
        </div>

        <div *ngIf="showSearch" style="margin-top:20px;">
        <!-- <div class="form-group row">
          <div class="col-lg-12">
            <input class="form-control" type="search" placeholder="Search by complaint title .,. " id="example-search-input" (keyup)="searchStudents($event)">
          </div>
        </div> -->


          <div class="row searchStu">
          <label >Student</label>
          <span class="badge" *ngIf="students && selectedStudent==null " >Total Students : {{totalStudents}}</span>
          
              <input class="form-control" *ngIf="selectedStudent==null" type="text" placeholder="Search by Student Name ... " (keyup)="searchStudents($event)">
              <input *ngIf="selectedStudent" class="form-control" type="text" value="{{selectedStudent.name}}" onfocus="this.value= ''"
                (keyup)="searchStudents($event)">
              <loader [condition]="studentLoader" class="dropdownLoader"></loader>
               <button class="list-btn" (click)="dropdown ? dropdown = false : dropdown = true;selected=false"> <span class="glyphicon glyphicon-chevron-down custom-icon" ></span></button>               
              <div class="studentList" *ngIf="(selected)">
                <ul class="list-group">
                  <li class="list-group-item" *ngIf="(emptySearchResult && !loader) || noStudents">No Data to Display</li> 
                  <span *ngFor="let s of students">
                      <li class="list-group-item" (click)="addForm=null;getStudentDetails(s.id)"> {{s.name}} </li> 
                  </span>
                </ul>
              </div>

               <div class="studentList" *ngIf="(dropdown)">
                <ul class="list-group">
                  <span *ngFor="let s of studentsCOPY">
                        <li *ngIf="noStudents">No students are added in this class</li>
                        <li class="list-group-item" (click)="dropdown=false;addForm=null;getStudentDetails(s.id)"> {{s.name}} </li> 
                  </span>
                </ul>
              </div> 
              
              <!-- <select class="form-control">
                <option *ngFor="let s of students" ><a (click)="">{{s.name}}</a></option>
              </select> -->
          </div> 
    </div>
  </div>
    <div class="row" *ngIf=" !showSearch && showTable">
      <div>
        <!-- <div class="col-sm-4 col-xs-4">
          <label>Order </label>
          <select>
            <option>Ascending</option>
            <option>Descending</option>            
          </select>
        </div> -->

        <div class="  col-sm-offset-5 col-sm-3 col-xs-6">
          <span class="badge" style="margin-top:32px;">Total Students : {{totalStudents}}</span>  
        </div>  
        <div class=" col-sm-4 col-xs-6">
          <label>Filter</label>
          <select (ngModelChange)="filterDetails($event)" [(ngModel)]="filter" class="form-control" >
            <option [value]="1">All Details</option>
            <option [value]="2">Only Sibling Details</option>
            <option [value]="3">Only Parent Details</option> 
            <option [value]="4">Only Student List</option>                                   
          </select>
        </div>      
      </div>
      <div>
        <div class="row text-center">
          <loader [condition]="loader"></loader>
        </div>
          <table class="table detail-table">
            <thead>
              <tr>
                <th></th>
                <th>Student's Name</th>
                <th *ngIf="showParent && !showStudentOnly">Parent's Details</th>
                <th *ngIf="showSibling && !showStudentOnly">Sibling's Details</th>
              </tr>
            </thead>
            <tbody *ngFor="let s of studentsInfo">
              <tr (click)="getStudentDetails(s.id)" class="pointer">
                <td><a ><img class="student-image" [attr.src]="fileUrl+'/' + s.picTimestamp"></a></td>
                <td>{{s.name}}</td>
                <!-- <td *ngFor="let p of s.parents">{{p.name}}</td> -->
                <td *ngIf="showParent && !showStudentOnly">
                   <table class="inner-table">
                     <thead>
                      <tr>
                        <td>Name</td>
                        <td>Contact No</td>
                        <td style="border-right:none !important">Email</td>  
                      </tr>
                     </thead>
                     <tbody>
                      <tr *ngFor="let p of s.parents">
                        <td>{{p.name}}</td>
                        <td>{{p.contactNo}}</td>
                        <td *ngIf="p.email" style="border-right:none !important">{{p.email}}</td>
                        <td *ngIf="!p.email" style="border-right:none !important">-</td>
                      </tr>
                     </tbody>
                  </table> 
                </td>
                <td *ngIf="showSibling && !showStudentOnly">
                  <table class=" inner-table" *ngIf="s.siblings.length>0">
                    <thead>
                      <tr>
                        <td>Name</td>
                        <td style="border-right:none !important">Standard</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let sibling of s.siblings">
                        <td>{{sibling.name}}</td>
                        <td style="border-right:none !important">{{sibling.standardName}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <table *ngIf="s.siblings.length<=0"><tr>No Siblings added</tr></table>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="row" *ngIf="selectedStudent && showSearch">
      <div class="panel-group" id="accordion" *ngIf="selectedStudent" style="margin:5%;">
        <div class="panel panel-default">
          <!-- <div class="row text-center"><loader [condition]="loader"></loader></div> -->
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
            <h4 class="panel-title">
              Student Details
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table col-sm-12">
                <tbody>
                  <tr>
                    <td colspan="3" class="text-center">
                      <img *ngIf="selectedStudent.picTimestamp" [attr.src]="fileUrl+'/' + selectedStudent.picTimestamp" class="profilePic" data-target='#uploadStudentModal'
                        data-toggle='modal' (click)="selectedImageUpload=selectedStudent;uploadPicForm.controls['file'].reset();">
                      <img *ngIf="!selectedStudent.picTimestamp" [attr.src]="fileUrl+'/parent%2f39945169084408330481.jpg?alt=media'" class="profilePic"
                        data-target='#uploadParentModal' data-toggle='modal' (click)="selectedImageUpload=selectedStudent;uploadPicForm.controls['file'].reset();">
                      <a data-target='#uploadParentModal' data-toggle='modal'><i class="glyphicon glyphicon-pencil"></i></a> 
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <label for="sname1">Name</label>
                      <p>{{selectedStudent.name}}</p>
                    </td>
                    <td>
                      <label for="stnd1">Standard</label>
                      <p><span *ngFor="let s of standards"><span *ngIf="s.id==selectedStudent.standardId">{{s.name}}</span></span>
                      </p>
                    </td>
                    <td>
                      <button class="btn btn-primary pull-right " data-toggle="modal" data-target="#editSiblingModal" (click)="selectedSibling = selectedStudent;initEditStudentForm()">Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default" *ngIf="selectedStudent.siblings">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
            <h4 class="panel-title">
              Sibling Details
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row col-sm-12" *ngIf="selectedStudent.siblings.length==0">
                No Siblings added.
              </div>

              <table class="table col-sm-12">
                <tbody *ngFor="let s of selectedStudent.siblings" style="border:none !important">
                  <tr>
                    <td>
                      <img *ngIf="s.picTimestamp" [attr.src]="fileUrl+'/' + s.picTimestamp" class="profilePic1" data-target='#uploadStudentModal'
                        data-toggle='modal' (click)="selectedImageUpload=s;uploadPicForm.controls['file'].reset();">
                      <img *ngIf="!s.picTimestamp" [attr.src]="fileUrl+'/parent%2f39945169084408330481.jpg?alt=media'" class="profilePic1" data-target='#uploadStudentModal'
                        data-toggle='modal' (click)="selectedImageUpload=s;uploadPicForm.controls['file'].reset();">
                        <a data-target='#uploadStudentModal' data-toggle="modal"><i class="glyphicon glyphicon-pencil"></i></a>                     
                      </td>
                    <td>
                      <label for="sname2">Name</label>
                      <p>{{s.name}}</p>
                    </td>
                    <td>
                      <label for="stnd2">Standard</label>
                      <p><span *ngFor="let p of standards"><span *ngIf="p.id==s.standardId">{{p.name}}</span></span>
                      </p>
                    </td>
                    <td>
                      <button class="btn btn-primary pull-right " data-toggle="modal" data-target="#editSiblingModal" (click)="selectedSibling = s;initEditStudentForm()">Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
            <h4 class="panel-title">
              Parent Details
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <table class="table col-sm-12">
              <tbody style="border:white 10px solid;background:#fcf9f9" *ngFor="let p of selectedStudent.parents">
                <tr>
                  <td rowspan="2">
                    <img *ngIf="p.picTimestamp" [attr.src]="fileUrl+'/' + p.picTimestamp" class="profilePic1" data-target='#uploadParentModal'
                      (click)="selectedImageUpload=p;uploadPicForm.controls['file'].reset();" data-toggle='modal'>
                    <img *ngIf="!p.picTimestamp" [attr.src]="fileUrl+'/parent%2f39945169084408330481.jpg?alt=media'" class="profilePic1" data-target='#uploadParentModal'
                      (click)="selectedImageUpload=p;uploadPicForm.controls['file'].reset();" data-toggle='modal'>
                      <a data-target='#uploadParentModal' data-toggle='modal'><i class="glyphicon glyphicon-pencil"></i></a>                      
                    </td>
                  <td>
                    <label for="sname3">Name</label>
                    <span>
                      <p *ngIf="(p.name==null)||(p.name=='')">-</p>
                      <p *ngIf="p.name!=null">{{p.name}}</p>
                    </span>
                  </td>
                  <td>
                    <label for="stnd3">Nickname</label>
                    <span>
                      <p *ngIf="(p.nickName==null)||(p.nickName=='')">-</p>
                      <p *ngIf="p.nickName!=null">{{p.nickName}}</p>
                    </span>
                  </td>
                  <td rowspan="2">
                    <button class="btn btn-primary pull-right " data-toggle="modal" data-target="#editParentModal" (click)="selectedParent = p;initEditParentForm()">Edit</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="sname4">Contact Number</label>
                    <p>{{p.contactNo}}</p>
                  </td>
                  <td>
                    <label for="stnd4">Email ID</label>
                    <span>
            <p *ngIf="(p.email==null)||(p.email=='')">-</p>
            <p *ngIf="p.email!=null">{{p.email}}</p>
            </span>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="row" >
        <div style="position:relative;margin:auto;left:0;right:0;width:300px">
          <a (click)="addForm=1;initAddSiblingForm()" class="button" [ngClass]="{'selectedbtn': (addForm === 1) }"
            *ngIf="siblingLimit!=0">
              <span>Add Siblings</span>
            </a>

          <a (click)="addForm=2;initAddParentForm()" class="button" [ngClass]="{ 'selectedbtn': (addForm === 2) }" 
          *ngIf="parentLimit!=0">
            <span>Add Parents</span>
          </a>
        </div>
      </div>

      <!--Add Sibling Form-->

      <div style="border: 1px solid #dddddd;margin: 3% 1%;padding: 1%;border: 1px solid #dddddd;margin: 3% 1%;padding: 1%;" *ngIf="addForm === 1">
        <form [formGroup]="addSiblingForm" (submit)="submitSibling();addForm=null;">
          <br>
          <div class="form-group col-sm-12" formArrayName="students">
            <div class="row arrayRow" *ngFor="let stu of addSiblingForm.controls.students.controls; let i=index;" [formGroupName]="i">
              <div class="arrayForm">
                <div class="form-group col-sm-5">
                  <label for="sname5">Name</label>
                  <input type="text" id="sname" class="form-control" formControlName="name" placeholder="Enter Student's Name">
                  <div [hidden]="addSiblingForm.controls.students.controls[i].controls.name.valid || addSiblingForm.controls.students.controls[i].controls.name.untouched || addSiblingForm.controls.students.controls[i].controls.name.pristine" class="alert alert-warning">This field is required</div> 

                </div>
                <div class="form-group col-sm-5">
                  <label for="stnd5">Select Standard</label>
                  <select id="stnd" class="form-control" formControlName="standardId">
                        <option disabled="disabled" selected="selected">Select Standard</option>                                 
                        <option *ngFor="let s of standards" [value]="s.id">{{s.name}}</option>
                    </select>
                  <div [hidden]="addSiblingForm.controls.students.controls[i].controls.standardId.valid || addSiblingForm.controls.students.controls[i].controls.standardId.untouched" class="alert alert-warning">This field is required</div> 
                  
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-primary active pull-right" (click)="removeSibling(addSiblingForm,i)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin:5% 5% 0% 5%;">
            <button type="submit" [disabled]="addSiblingForm.invalid" class="btn btn-success pull-right">Submit</button>
            <button type="button" [disabled]="((addSiblingForm.invalid)||(addSiblingForm.controls.students.length==5))" class="btn btn-primary active"
              (click)="addSibling(addSiblingForm);">
                Add Sibling
               </button>
          </div>
        </form>
      </div>

      <!--Add Parent Form-->
      <div style="border: 1px solid #dddddd;margin: 3% 1%;padding: 1%;" *ngIf="addForm === 2">

        <form [formGroup]="addParentForm" (submit)="submitParentForm();addForm=null;">

          <br>

          <div class="form-group col-sm-12">

            <!--
              <label for="stnd">Select Parent</label>
              <select id="stnd" class="form-control" [(ngModel)]="parent" [ngModelOptions]="{standalone: true}" (ngModelChange)="onParent($event,i)">
            <option *ngFor="let p of parents" [value]="p.name">{{p.name}}</option>
          </select>-->

            <div class="arrayForm">
              <div class="form-group col-sm-12">
                <label for="fname1">Parent's Name</label>
                <input type="text" id="fname1" class="form-control" placeholder="Enter Parent's Name" formControlName="name">
              <div class="alert alert-warning" [hidden]="addParentForm.controls.name.valid ||addParentForm.controls.name.untouched || addParentForm.controls.name.pristine">This field is required</div>
              </div>
              <div class="form-group col-sm-12">
                <label for="fname2">Parent's Nick Name</label>
                <input type="text" id="fname2" class="form-control" placeholder="Enter Parent's Nick Name" formControlName="nickName">
              </div>
              <div class="form-group col-sm-12">
                <label for="fname3">Parent's Contact Number</label>
                <input type="text" id="fname3" class="form-control" placeholder="Enter Parent's Contact Number" formControlName="contactNo">
              <div class="alert alert-warning" [hidden]="addParentForm.controls.contactNo.valid ||addParentForm.controls.contactNo.untouched || addParentForm.controls.contactNo.pristine">This field is required
                <div style="color:red">Contact No should be of 10 dogits</div>
              </div>              
              </div>
              <div class="form-group col-sm-12">
                <label for="fname4">Parent's Email ID</label>
                <input type="text" id="fname4" class="form-control" placeholder="Enter Parent's Email ID" formControlName="email">
                <div class="alert alert-warning" [hidden]="addParentForm.controls.email.valid ||addParentForm.controls.email.untouched || addParentForm.controls.email.pristine">This field is required
                <div style="color:red">Please enter valid email-address</div>
              </div>  
              </div>
            </div>

          </div>
          <div class="row" style="margin:5% 5% 0% 5%;">
            <button type="submit" [disabled]="addParentForm.invalid" class="btn btn-success pull-right">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





<div class="modal fade  " id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Student Updated</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have successfully updated the information.
      </div>
    </div>
  </div>
</div>

<div class="modal fade  " id="errModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Parent Already exists</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Parent is already added to our records.
      </div>
    </div>
  </div>
</div>

<div class="modal fade  " id="editSiblingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Edit Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form *ngIf="selectedSibling" [formGroup]="editStudentForm">
        <div class="modal-body">
          <label for="sname8">Name</label>
          <input type="text" id="sname8" class="form-control" formControlName="name">
          <label for="stnd8">Standard</label>
          <select id="stnd8" class="form-control" formControlName="standardId">
            <option disabled="disabled" selected="selected">Select Standard</option>                         
            <option *ngFor="let s of standards" [value]="s.id">{{s.name}}</option>
           </select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success pull-right" type="button" [disabled]="(!editStudentForm.dirty)||(editStudentForm.invalid)"
            (click)="submitEditStudentForm()" data-dismiss="modal">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade  " id="editParentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Edit Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="editParentForm" *ngIf="selectedParent">
        <div class="modal-body">
          <div class="form-group">
            <label for="sname9">Name</label>
            <input type="text" id="sname9" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="stnd8">Nick Name</label>
            <input type="text" id="stnd8" class="form-control" formControlName="nickName">
          </div>

          <div class="form-group">
            <label for="mail">Email</label>
            <input type="text" id="mail" class="form-control" formControlName="email">
            <div [hidden]="editParentForm.controls.email.valid||editParentForm.controls.email.untouched" class="alert alert-warning">Please enter a valid Email Id</div>
            
          </div>

          <div class="form-group">
            <label for="contactNo">Contact No</label>
              <input type="text" maxlength="12" minlength="9" id="contactNo" class="form-control" name="contactNo" value="selectedParent.contactNo" [(ngModel)]="contactNo" (ngModelChange)="onContact($event)" [ngModelOptions]="{standalone:true}">  
               
           <div *ngIf="contactControl">
            <div *ngIf="!editParentForm.controls.contactNo.valid||!editParentForm.controls.contactNo.untouched" class="alert alert-warning">Please enter a valid Contact Number 
                 <div>The contact no should be between 9 to 12 digits</div> 
               </div> 
          </div> 
          </div>
        </div>
        <div class="modal-footer">
          <button id="submitBtn" class="btn btn-success pull-right" type="button" [disabled]="(editParentForm.invalid)" (click)="submitEditParentForm()"
            data-dismiss="modal">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade  " id="uploadStudentModal" role="dialog">
  <div class="modal-dialog">
    <!-- Update Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Profile Picture </h4>
      </div>
      <form [formGroup]="uploadPicForm">
        <div class="modal-body">
          <div class="row text-center">
            <loader [condition]="loader"></loader>
          </div>
          <div class="form-group">
            <input type="file" class="form-control-file" accept="image/*" id="exampleInputFile" aria-describedby="fileHelp" (change)="getFile($event)"
              formControlName='file'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="uploadStudentImage()" class="btn btn-default" data-dismiss='modal'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade  " id="uploadParentModal" role="dialog">
  <div class="modal-dialog">
    <!-- Update Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Profile Picture </h4>
      </div>
      <form [formGroup]="uploadPicForm">
        <div class="modal-body">
          <div class="row text-center">
            <loader [condition]="loader"></loader>
          </div>
          <div class="form-group">
            <input type="file" class="form-control-file" accept="image/*" id="exampleInputFile" aria-describedby="fileHelp" (change)="getFile($event)"
              formControlName='file'>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="uploadParentImage()" class="btn btn-default" data-dismiss='modal'>Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade  " id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">File Type Error</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Kindly upload an image file.
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>