

/*.title{
  overflow: hidden;
  text-overflow: ellipsis; 
}*/

.desc{
      font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden; 
}

.card{
  width: 22%;
}

