<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="row text-center">
    <loader [condition]="submitProgress" class="centerLoader"></loader>
  </div>
  <div class="panel-heading">Create New Homework
    <button type="button" class="close pull-right" aria-label="Close" (click)="_location.back();">
    <span aria-hidden="true">&times; </span>
  </button> 
  </div>
   <div class="panel-body">
  <form name="homework" [formGroup]="homework" (ngSubmit)="submitHomework()" novalidate>
    <div class="form-group">
      <label for="standardId">Select Standard</label>
      <select class="form-control" id="standardId"  name="standardId" formControlName="standardId" (ngModelChange)="getSubjects($event); ">
      <option selected="true" disabled="true" value="">Select Standard</option>
      <option *ngFor="let a of standards" [value]="a.id" [attr.disabled] = " a.id == -1 ? true : null"> {{a.name}}</option>
    </select>
    <loader [condition]="standardLoader" class="dropdownLoader"></loader>
    <div>
      <div [hidden]="homework.controls.standardId.valid || homework.controls.standardId.untouched" class="alert alert-warning">This field is required</div>
      </div>      
    </div>
    <div class="form-group" *ngIf="homework.value.standardId && homework.value.standardId >=0" >
      <label for="subjectId">Select Subject</label>
      <select class="form-control"  id="subjectId" name="subjectId" formControlName="subjectId">

      <option selected="true" disabled="true" value="null">Select Subject</option>
      
      <option *ngIf="emptySubjects" disabled>No Subjects are added. Try again later.</option>
      <option *ngFor="let bx of subjects" [value]="bx.subjectId" >{{bx.subjectName}}</option>
    </select>
    <loader [condition]="subjectLoader" class="dropdownLoader"></loader>    
    <div>
      <div [hidden]="homework.controls.subjectId.valid || homework.controls.subjectId.untouched" class="alert alert-warning">This field is required</div>
    </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <span class="badge">{{2000 - homework.value.description.length}}</span>
      <textarea class="form-control" id="exampleTextarea" name="description" maxlength="2000" formControlName="description" rows="3"></textarea>
      <div [hidden]="homework.controls.description.untouched  ||homework.controls.description.valid ||homework.controls.description.pristine" class="alert alert-warning">This field is required</div>

    </div>
    <div class="row">
      <div class="col-sm-12 col-lg-6">
    <div class="form-group">
      <label for="date">Due Date</label>
      <input class="form-control glyphicon glyphicon-calendar" type="date" max="2019-10-31" displayFormat="DD MMM YYYY" name="dueDate" formControlName="dueDate" (change)="onDueDate($event)" id="duedate">
      <span class="label label-danger" *ngIf="invalidDate">Please choose an upcoming date from the calendar.</span>
    </div>
      </div>
      <div class="col-sm-12 col-lg-6">
    <div class="form-group">
      <label>Attachment</label> &nbsp;&nbsp;<span class="small">(Optional)</span>
        <!--<label for="exampleInputFile" class="exampleInputFile">Choose a file...<span class="glyphicon glyphicon-circle-arrow-up custom"></span></label>-->
        <input type="file" style="color:transparent;" [title]="noOfFiles" class="form-control-file" formControlName="file" id="exampleInputFile" aria-describedby="fileHelp" (change)="getFile($event)" multiple>
        <span *ngIf="maxfile">* Max 5 files</span>
        <ul class="file-list" style="padding-left: 0px" >
                <li style="list-style-type: none" class="file-list-items" *ngFor="let f of file">{{f.name}} <span class="glyphicon glyphicon-remove" (click)="removeFile(f)"></span></li>
        </ul>
      </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!homework.valid || maxfile">Submit</button>
  
  </form>
</div>

<div class="modal fade" id="homeworkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Homework Added</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You have successfully added a new Homework.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['/homework/current-homework']">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" >Add More</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">File Type Error</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Kindly upload an image file.
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>